$DesaturatedDarkCyan: hsl(180, 29%, 50%);
$BgLightGrayishCyan: hsl(180, 52%, 96%);
$FilterLightGrayishCyan: hsl(180, 8%, 52%);
$DarkGrayishCyan: hsl(180, 8%, 52%);
$VeryDarkGrayishCyan: hsl(180, 14%, 20%);
